<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>A Three Column Layout | Icebrrrg by OD</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
    <link rel="stylesheet" href="stylesheets/flexslider.css">
    <link rel="stylesheet" href="stylesheets/prettyPhoto.css">
    
    <!-- CSS
  ================================================== -->
 	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/jquery.flexslider-min.js"></script>
    <script src="js/scripts.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<header id="header" class="site-header" role="banner">
    <div id="header-inner" class="container sixteen columns over">
    <hgroup class="one-third column alpha">
    <h1 id="site-title" class="site-title">
    <a href="index.html" id="logo"><img src="images/icebrrrg-logo.png" alt="Icebrrrg logo" height="63" width="157" /></a>
    </h1>
    </hgroup>
    <nav id="main-nav" class="two thirds column omega">
    <ul id="main-nav-menu" class="nav-menu">
    <li id="menu-item-1">
    <a href="index.html">Home</a>
    </li>
    <li id="menu-item-2" class="current">
    <a href="three-column.html">Three Column</a>
    </li>
    <li id="menu-item-3">
    <a href="sidebar-right.html">Sidebar Right</a>
    </li>
    <li id="menu-item-4">
    <a href="sidebar-left.html">Sidebar Left</a>
    </li>
    <li id="menu-item-5">
    <a href="full-width.html">Full Width</a>
    </li>
    <li id="menu-item-6">
    <a href="contact.html">Contact</a>
    </li>
    </ul>
    </nav>
    </div>
    </header>

	<div class="container">
    
		<aside class="four columns left-sidebar">
        <div class="sidebar-widget">
        <h2>What is this?</h2>
        <p>This is the hallowed three column layout.  In this side bar you can do whatever - link to ice cold bloggers, show off your knowledge of the polar ice caps, or just share a photo of a cute pengiun.  LOLPengz anyone?</p>
        </div>
        
        <div class="sidebar-widget">
        <h2>Some links</h2>
        <ul>
        <li><a href="#">Penguin kicks a polar bears ass</a></li>
        <li><a href="#">Scientists insert abandoned ship inside an iceberg</a></li>
        <li><a href="#">How big was the iceberg that sunk the Titanic?</a></li>
        </ul>
        </div>
        
        <div class="sidebar-widget">
        <h2>Icebergs are cool, man</h2>
        <p>Few things in life are as beautiful, awe-inspiring and cool - both literally and figuratively - as an iceberg.  Except, maybe, Iceberrrg.</p>
        </div>
        
        </aside>
        <!-- End Left Sidebar -->
        
        
        <article class="eight columns main-content">
        <h1>This is what an article headline looks like in Icebrrrg</h1>
        
        <img src="images/iceberg3.jpg" class="scale-with-grid">
        
        <p>Bacon ipsum dolor sit amet capicola chuck flank, pork belly pork loin shankle andouille short loin beef ribs pork meatloaf rump. Corned beef short loin ball tip, jowl cow sirloin rump spare ribs venison. Frankfurter meatloaf pancetta filet mignon. Spare ribs sirloin shankle, biltong strip steak kielbasa beef ribs pork chop pork salami brisket rump tail. Pig filet mignon pastrami hamburger.</p>

<p>Shankle prosciutto chicken meatball brisket. Jerky pork belly pig turducken shoulder pork spare ribs. Jerky venison shankle pork belly. Shank short ribs spare ribs pork bresaola. Sirloin bresaola ball tip pork chop shankle, beef ribs drumstick salami brisket strip steak spare ribs. Tenderloin short loin filet mignon, rump kielbasa tri-tip fatback shankle short ribs flank venison.</p>

<p>Beef strip steak corned beef, shoulder short loin bresaola bacon filet mignon turkey pork chop t-bone hamburger andouille pancetta. Jerky chicken ham hock cow bresaola pork chop ground round sausage hamburger pork. Jerky ribeye tongue kielbasa short ribs meatball chicken. Brisket bresaola kielbasa boudin beef ribs swine spare ribs shoulder jerky shankle pork belly ball tip leberkas pork chop biltong. Andouille ball tip leberkas, shoulder pork loin chuck hamburger beef strip steak.</p>

<p>Turducken pork loin sausage t-bone jerky beef. Chicken filet mignon meatball jowl. Prosciutto jowl ribeye ball tip brisket leberkas tri-tip flank. Turkey beef ribs biltong spare ribs, hamburger boudin fatback meatloaf short loin pastrami salami corned beef. Meatloaf prosciutto ball tip spare ribs tongue bacon.</p>

<p>Turkey pork loin ham hock, chicken flank beef short ribs meatball kielbasa tail prosciutto rump corned beef. Turducken cow shankle, swine fatback ribeye filet mignon. Shoulder meatball cow, t-bone pastrami sausage pork bacon swine ground round chuck short ribs. Boudin swine meatball spare ribs ground round fatback jerky sausage beef flank.</p>

<p>Spare ribs venison kielbasa tongue, cow salami chuck shank boudin ham hock rump biltong. Pork bacon t-bone ground round short loin capicola pork belly tenderloin. Beef filet mignon turkey spare ribs shank. Ham hock corned beef biltong shankle, jerky filet mignon andouille turducken pastrami sausage beef meatball chuck pork chop. Leberkas cow boudin corned beef pancetta, salami jowl bacon. Sausage ham meatball venison cow.</p>

      
        </article>
        <!-- End main Content -->
        
        
        <aside class="four columns right-sidebar">
        
        <div class="sidebar-widget social">
        <h2>Like this?</h2>
        <p>If you think Iceberrrg is as glacial as an ice cold beer, share the social love and let your buddies know:</p>
        <ul>
<li><a href="http://www.twitter.com/opendesigns/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
<li><a href="http://www.facebook.com/opendesigns"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
<li><a href="https://plus.google.com/b/110224753971231624818/110224753971231624818/posts"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
</ul>
        </div>
        
        
        <div class="recent-posts sidebar-widget four columns">
        <h2>Latest articles</h2>
        <article class="four columns alpha">
     
     <div class="one columns alpha">
     <div class="featured-image img-wrapper">
     <img src="images/iceberg1.jpg" class="scale-with-grid thumb-link">
     </div>
     </div>
     
     <div class="three columns omega">
     <h4><a href="#">10 Reasons Why Icebrrrg Is Really Cool</a></h4>
    
     </div>
     
     </article>
     
     <article class="four columns alpha">
     
     <div class="one columns alpha">
     <div class="featured-image img-wrapper">
     <img src="images/iceberg2.jpg" class="scale-with-grid thumb-link">
     </div>
     </div>
     
     <div class="three columns omega">
     <h4><a href="#">10 More Reasons Why Icebrrrg Is Really Cool</a></h4>
    
     </div>
     
     </article>
     </div>
        
        <div class="sidebar-widget">
        <h2>Testimonials</h2>
        <blockquote class="testimonial no-after">
     Icebrrrg is so pretty and easy to use it makes you feel like you can do anything.  Even fly.  Which for me, is huge!
     <cite>A Daredevil Penguin</cite>
     </blockquote>
     
     <blockquote class="testimonial no-after">
     Icebrrrg looked so smooth and tasty that I decided to lick it.  Of course, it was ice cold so my tongue got stuck to it!
     <cite>Overeager Polar Bear</cite>
     </blockquote>
     
     <blockquote class="testimonial no-after">
     80% of Iceberrrg's mass is beneath the surface. Super detailed grid.
     <cite>Dr. Freeze</cite>
     </blockquote>
        </div>
        
        </aside>
        <!-- End Right Sidebar -->
    
    </div>

<footer>

<div class="footer-inner container">


<div class="social footer-columns one-third column">
<h2><i class="icon-bullhorn icon-large"></i> Get Social</h2>
<p>Want to stalk us? That would be super:</p>
<ul>
<li><a href="http://www.twitter.com/opendesigns/"><i class="icon-twitter-sign icon-large"></i> Twitter</a></li>
<li><a href="http://www.facebook.com/opendesigns"><i class="icon-facebook-sign icon-large"></i> Facebook</a></li>
<li><a href="https://plus.google.com/b/110224753971231624818/110224753971231624818/posts"><i class="icon-google-plus-sign icon-large"></i> Google+</a></li>
</ul>
</div>

<div class="footer-columns one-third column">
<h2><i class="icon-book icon-large"></i> License</h2>
<p>Icebrrrg is free under the <a href="http://creativecommons.org/licenses/by/3/">CC3.0 license</a>, which means you can do whatever the heck you like with it - even using it commercially.  All you have to do is leave the credit link in the footer intact.  Cool?</p>

</div>

<div class="footer-columns one-third column">
<h2><i class="icon-user icon-large"></i> About Us</h2>
<p>This is where you tell the world how awesome you are.  Us?  We're Open Designs, a community of web designers offering free templates and resources to people like you to use on your own websites.  We love design, code and tinkering.  What do you love?</p>
</div>

</div>

<div id="footer-base">
<div class="container">
<div class="eight columns">
<a href="http://www.opendesigns.org/design/icebrrrg/">Icebrrg Website Template</a> &copy; 2012
</div>

<div class="eight columns far-edge">
Design by <a href="http://www.opendesigns.org">OD</a>
</div>
</div>
</div>

</footer>

<!-- End Document
================================================== -->

<script src="js/jquery.prettyPhoto.js"></script>
</body>
</html>

