.leaflet-control-attribution{
visibility: hidden;
}

.input-error{
    color:#ff0000;
}

#greetings{color:#0E9A17}

#conso_content table, #conso_content th, #conso_content td {
    border: 1px solid rgba(1,1,1,0.2);
    padding: 15px;}

table#conso_content {
    margin-left: 25%;}

.titre {background: rgba(10,200,10,0.5);}
.impair {background: rgba(10,200,10,0.2);}
.pair {background: rgba(10,200,10,0.1);}
div#map{border: solid 1px rgba(1,1,1,0.2);}

#releve input[type="text"] { float: right; margin-right: 20px;} 
#releve select{ float: right; margin-right: 20px;}

div#choose_compteur {
  border: solid 1px rgba(1,1,1,0.2);
  background: rgba(1,1,1,0.1);
  border-radius: 10px;
  padding: 10px;
}



#detail_compteur img {border: 2px solid #2CB235;}
#detail_compteur div {border: 3px solid #004204;
		border-radius: 15px;
		padding: 5px;}

div#event {
  border-radius: 15px 50px;
  border: 2px solid #2CB235;
  padding: 20px;
  margin-bottom: 20px;
}
