.leaflet-control-attribution{
visibility: hidden;
}

.input-error{
    color:#ff0000;
}l

#conso_content {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: gray;
    with=500px
}

table, th, td {
    border: 1px solid black;
    padding: 15px;
}
