.leaflet-control-attribution{
visibility: hidden;
}

.input-error{
    color:#ff0000;
}

#greetings{
	color:#0E9A17

#conso_content {
    display: table;
    border-collapse: separate;
    border-spacing: 1px;
    border-color: gray;
    with=500px
}
